@* <link rel="stylesheet" type="text/css" href="~/css/MyRequests.css"> *@
@* <link rel="stylesheet" type="text/css"
href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css"> *@
@* for table *@
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
<script src="~/js/MyRequests/MyRequests_sto.js" asp-append-version="true"></script>
<style>

</style>
<section id="content-wrapper">

    <div class="container-fluid">
        <div class="indent-main-wrapper">
            <div class="">


                <!-- START TABS DIV -->
                <div class="tabbable-responsive header-tabs">
                    <div class="tabbable">
                        <ul class="nav nav-pills nav-justified" id="linxea-avenir" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="eleve-tab" data-toggle="tab" href="#eleve" role="tab"
                                    aria-controls="first" aria-selected="true"><span id="title1">INDENTS</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="moyen-tab" data-toggle="tab" href="#moyen" role="tab"
                                    aria-controls="second" aria-selected="false"><span id="title2">NEW MATERIAL
                                        REQUESTS</span></a>
                            </li>
                            <li class="nav-item">
                                <a onclick="service_requestsApi()" class="nav-link" id="faible-tab" data-toggle="tab"
                                    href="#faible" role="tab" aria-controls="second" aria-selected="false"><span
                                        id="title3">SERVICE REQUESTS</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-content" style="margin-top:2px">
                    <div class="tab-pane fade show active" id="eleve" role="tabpanel" aria-labelledby="eleve-tab">
                        <!-- START TABS DIV -->
                        <div class="row tabbable-responsive inner-tab align-items-center">
                            <div class="col-xl-6 col-12 d-flex flex-wrap">
                                <div class="tabbable mb-xl-0 mb-5 inner-btn-tab">
                                    <ul class="nav nav-pills nav-justified" id="eleve-nav" role="tablist">
                                        @* <li class="nav-item">
                                        <a class="nav-link active outline-border" onclick="orders_call('Pending')"
                                        id="eleve-eco-tab"
                                        data-toggle="tab" href="#eleve-eco" role="tab" aria-controls="first"
                                        aria-selected="true">
                                        <div class="position">
                                        PENDIND APPROVALS<span
                                        class="badge badgeup badge-success badgepending">1</span>
                                        </div>
                                        </a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link outline-border" onclick="orders_call('Open')"
                                        id="eleve-standard-tab"
                                        data-toggle="tab" href="#eleve-standard" role="tab" aria-controls="second"
                                        aria-selected="false">
                                        <div class="position">
                                        OPEN INDENTS<span class="badge badgeup badge-success badgeopen">1</span>
                                        </div>
                                        </a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link outline-border" onclick="orders_call('Closed')"
                                        id="eleve-standard-tab1"
                                        data-toggle="tab" href="#eleve-standard1" role="tab" aria-controls="second1"
                                        aria-selected="false">
                                        <div class="position">
                                        CLOSE INDENTS<span
                                        class="badge badgeup badge-success badgeclose">1</span>
                                        </div>
                                        </a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link outline-border" onclick="orders_call('All')"
                                        id="eleve-standard-tab2"
                                        data-toggle="tab" href="#eleve-standard2" role="tab" aria-controls="second2"
                                        aria-selected="false">
                                        <div class="position">
                                        ALL INDENTS<span class="badge badgeup badge-success badgeall">1</span>
                                        </div>
                                        </a>
                                        </li> *@
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12 d-flex flex-wrap justify-content-end">
                                <div class="indent-tab-filter">
                                    <div class="indent-tab-item search-container">
                                        <form class="search-form-filter" id="searchForm">
                                            <div class="search-container-inner">
                                                <input type="number" placeholder="Search by Indent No.Or Material No."
                                                    name="search" id="searchIndentNumber">
                                                <button type="submit"><span
                                                        class="material-symbols-rounded">search</span></button>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="d-flex align-items-center list-unstyled mb-0">
                                        <li>
                                            <div class="indent-tab-item" id="getexcelfile" style="display: none;">
                                                <span class="material-symbols-rounded" onclick="getexcel()"
                                                    style="vertical-align: middle;color: blue;cursor: pointer;">cloud_download</span>
                                            </div>
                                        </li>&nbsp;&nbsp;&nbsp;
                                        <li>
                                            <div class="indent-tab-item">
                                                <button class="common-button Custom-btn common-blue-button print">
                                                    <span class="material-symbols-rounded">print</span>
                                                    PRINT ALL
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="indent-tab-item">
                                                <button class="common-button-icon"><span
                                                        class="material-symbols-rounded" data-bs-toggle="offcanvas"
                                                        data-bs-target="#offcanvasRight"
                                                        aria-controls="offcanvasRight">filter_list</span>
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="indent-tab-item">
                                                <a asp-action="NewIndent" asp-controller="Home">
                                                    <button class="common-button Custom-btn common-blue-button"><span
                                                            class="material-symbols-rounded">add</span> NEW
                                                        INDENT</button>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="eleve-eco" role="tabpanel"
                                aria-labelledby="eleve-eco-tab">

                                <!-- ****************************************************** -->
                                <!-- START inner tab one  -->

                                @* <div class="indent-tab-filter">
                                <div class="indent-tab-item search-container">
                                <form>
                                <div class="search-container-inner">
                                <input type="number"
                                placeholder="Search by Indent Number Or Material Number"
                                name="search" id="searchIndentNumber">
                                <button type="submit"><span
                                class="material-symbols-rounded">search</span></button>
                                </div>
                                </form>
                                </div>

                                <div class="indent-tab-item">
                                <button class="common-button Custom-btn common-blue-button">
                                <span class="material-symbols-rounded">print</span>
                                PRINT
                                </button>
                                </div>
                                <div class="indent-tab-item">
                                <button class="common-button-icon"><span
                                class="material-symbols-rounded">filter_list</span>
                                </button>
                                </div>
                                <div class="indent-tab-item">
                                <a asp-action="NewIndent" asp-controller="Home">
                                <button class="common-button Custom-btn common-blue-button"><span
                                class="material-symbols-rounded">add</span> NEW
                                INDENT</button>
                                </a>
                                </div>
                                </div> *@
                                <div id="remaining_approval_orders_div" style="display: none;">
                                    <table id="remaining_approval_orders" class="display nowrap"
                                        style="width:100%; display: none;">
                                        <thead>
                                            <tr>
                                                <th>Indent Id</th>
                                                <th>Material Id</th>
                                                <th>Material Name</th>
                                                <th>Quantity</th>
                                                <th>Status</th>
                                                <th>Created At</th>
                                                <th>Indentor Name</th>
                                                <th>Delivery Location</th>
                                                <th>Store Location</th>
                                                <th>Where Used</th>
                                                <th>Reason</th>
                                                <th>Stock</th>
                                                <th>Indent Date</th>
                                                <th>Approved Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <table id="remaining_qty_orders" class="display nowrap"
                                        style="width:100%; display: none;">
                                        <thead>
                                            <tr>
                                                <th>Indent Id</th>
                                                <th>Material Id</th>
                                                <th>Material Name</th>
                                                <th>Quantity</th>
                                                <th>Status</th>
                                                <th>Created At</th>
                                                <th>Indentor Name</th>
                                                <th>Delivery Location</th>
                                                <th>Store Location</th>
                                                <th>Where Used</th>
                                                <th>Reason</th>
                                                <th>Stock</th>
                                                <th>Indent Manager</th>
                                                <th>Request manager</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                                <div>
                                    <div id="main">
                                        <div class="accordion accordionbody" id="faq">

                                        </div>
                                    </div>
                                </div>


                                <!-- ****************************************************** -->
                                <!-- END inner tab one -->
                                <div>
                                    <!--Pagination 4-->
                                    <nav class="pagination-wrap paginationlist_MyRequests"
                                        aria-label="pagination example"
                                        style="display: flex;flex-direction: row;justify-content: center;">
                                        <ul class="pagination pagination-circle justify-content-center "
                                            id="paginationlist"> </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="moyen" role="tabpanel" aria-labelledby="moyen-tab">

                        <div class="tab-content" style="margin-top:2px">
                            <div class="tab-pane fade show active" id="moyen" role="tabpanel"
                                aria-labelledby="moyen-tab">
                                <!-- START TABS DIV -->
                                <div class="col-xl-6 col-12 d-flex flex-wrap justify-content-end">
                                    <div class="indent-tab-filter">
                                        <ul class="d-flex align-items-center list-unstyled mb-0">
                                            <li>
                                                <div class="indent-tab-item">
                                                    <a asp-action="NewPurchaseReq" asp-controller="Home">
                                                        <button
                                                            class="common-button Custom-btn common-blue-button"><span
                                                                class="material-symbols-rounded">add</span> NEW
                                                            NEW MATERIAL REQUESTS</button>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div>
                                    <div id="table-scroll" class="table-scroll table-scroll-wrap">
                                        <table class="main-table" id="new_material_requests_table">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>S NO</th>
                                                    <th>Service ID</th>
                                                    <th>Date</th>
                                                    <th>User</th>
                                                    <th>Status</th>
                                                    <th>PR Type</th>
                                                    <th>Acct Assignment Cat</th>
                                                    <th>WBS Number</th>
                                                    <th>Item Category</th>
                                                    <th>Plant</th>
                                                    <th>Service Group</th>
                                                    <th>Service No</th>
                                                    <th>Quantity</th>
                                                    <th>UOM</th>
                                                    <th>Gross Price</th>
                                                    <th>G/L Account</th>
                                                    <th>Cost Center</th>
                                                    <th>Purchase Group</th>
                                                    <th>Purchase Organization</th>
                                                    <th>Short Text</th>
                                                    <th>Reason</th>
                                                    <th>Images</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="new_material_requests_tbody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="faible" role="tabpanel" aria-labelledby="faible-tab">
                        @* div for table *@
                        <div id="table_div">
                            <div class="tab-content" style="margin-top:2px">
                                <div class="tab-pane fade show active" id="faible" role="tabpanel"
                                    aria-labelledby="faible-tab">

                                    <div class="col-xl-6 col-12 d-flex flex-wrap justify-content-end">
                                        <div class="indent-tab-filter">
                                            <ul class="d-flex align-items-center list-unstyled mb-0">
                                                <li>
                                                    <div class="indent-tab-item">
                                                        <a asp-action="Servicerequest" asp-controller="Home">
                                                            <button
                                                                class="common-button Custom-btn common-blue-button"><span
                                                                    class="material-symbols-rounded">add</span> NEW
                                                                SERVICE REQUESTS</button>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- START TABS DIV -->
                                    <div>
                                        <div id="table-scroll" class="table-scroll table-scroll-wrap">
                                            <table class="main-table" id="service_requests_table">
                                                <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th>S NO</th>
                                                        <th>Service ID</th>
                                                        <th>Date</th>
                                                        <th>User</th>
                                                        <th>Status</th>
                                                        <th>PR Type</th>
                                                        <th>Acct Assignment Cat</th>
                                                        <th>WBS Number</th>
                                                        <th>Item Category</th>
                                                        <th>Plant</th>
                                                        <th>Service Group</th>
                                                        <th>Service No</th>
                                                        <th>Quantity</th>
                                                        <th>UOM</th>
                                                        <th>Gross Price</th>
                                                        <th>G/L Account</th>
                                                        <th>Cost Center</th>
                                                        <th>Purchase Group</th>
                                                        <th>Purchase Organization</th>
                                                        <th>Short Text</th>
                                                        <th>Reason</th>
                                                        <th>Images</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="service_requests_tbody">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* div for table end *@

                        @* div for sto_raised *@
                        <div id="sto_div" style="display: none;">
                            <div class="row tabbable-responsive inner-tab align-items-center">
                                <div class="col-xl-6 col-12 d-flex flex-wrap">
                                    <div class="tabbable mb-xl-0 mb-5 inner-btn-tab">
                                        <h2>STO Indents</h2>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-12 d-flex flex-wrap justify-content-end">
                                    <div class="indent-tab-filter">
                                        <div class="indent-tab-item search-container">
                                            <form class="search-form-filter" id="searchForm_sto">
                                                <div class="search-container-inner">
                                                    <input type="number"
                                                        placeholder="Search by Indent No.Or Material No." name="search"
                                                        id="searchIndentNumber_sto">
                                                    <button type="submit"><span
                                                            class="material-symbols-rounded">search</span></button>
                                                </div>
                                            </form>
                                        </div>
                                        <ul class="d-flex align-items-center list-unstyled mb-0">
                                            <li>
                                                <div class="indent-tab-item">
                                                    <button class="common-button Custom-btn common-green-button"
                                                        onclick="window.print()">
                                                        <span class="material-symbols-rounded">print</span>
                                                        PRINT ALL
                                                    </button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="indent-tab-item">
                                                    <button class="common-button-icon"><span
                                                            class="material-symbols-rounded" data-bs-toggle="offcanvas"
                                                            data-bs-target="#offcanvasRight"
                                                            aria-controls="offcanvasRight">filter_list</span>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="eleve-eco" role="tabpanel"
                                    aria-labelledby="eleve-eco-tab">
                                    <div>
                                        <div id="main">
                                            <div class="accordion accordionbody" id="faq_sto">

                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <!--Pagination 4-->
                                        <nav class="pagination-wrap paginationlist_sto" aria-label="pagination example"
                                            style="display: flex;flex-direction: row;justify-content: center;">
                                            <ul class="pagination pagination-circle justify-content-center "
                                                id="paginationlist_sto"> </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @* div for sto_raised end *@
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<br>
<br>

<!-- The Modal -->
<div class="modal fade timeline-modal-wrap" id="indent-timeline-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Indent Timeline</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="timeline" id="timeline">

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade timeline-modal-wrap" id="indentApproval">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Indent Approval Flow</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modal-body">
                <div class="timeline" id="timelinebody">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal for edit -->
<div class="modal fade timeline-modal-wrap" id="indentApprovaledit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Indent Item</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="timelinebodyedit">
                    <form class="myrequestpage">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="recipient-name" class="col-form-label">Item Name:</label>
                                    <input type="text" disabled="disabled" class="form-control quantity "
                                        id="product_name" value="" required>
                                </div>
                                <div class="col-6">
                                    <label for="recipient-name" class="col-form-label">Oty:</label>
                                    <input type="number" min="1" class="form-control quantity quantity" id="intial_qty"
                                        value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <select class="form-control DeliveryPriority DeliveryPriority" data-obj=""
                                    placeholder="Delivery Priority*" id="delivery_priority">
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                                <span class="error-msg cartdropbox4" id="DeliveryPriority" style="display: none;">*The
                                    DeliveryPriority field is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Priority days*:</label>
                            <input type="text" id="priority_days" disabled name="input1" class="form-control" required>
                            <p>0 / 3</p>
                            <span class="error-msg cartdropbox4" id="" style="display: none;">*The DeliveryPriority
                                field is required.</span>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Tracking No*:</label>
                            <input type="text" class="form-control input1" id="tracking_no" value="test" required>
                            <p>0/ 3</p>
                            <span class="error-msg cartdropbox4" style="display: none;">*The DeliveryPriority field is
                                required.</span>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Section*:</label>
                            <input type="text" class="form-control input" id="section" value="test" required>
                            <p>0 / 20</p>
                            <span class="error-msg cartdropbox4" style="display: none;">*The DeliveryPriority field is
                                required.</span>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Reason*:</label>
                            <textarea class="form-control" id="reason" required></textarea>
                            <p>0 / 100</p>
                            <span class="error-msg cartdropbox4" style="display: none;">*The DeliveryPriority field is
                                required.</span>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Wher Uesd*:</label>
                            <textarea class="form-control" id="where_used" required></textarea>
                            <p>0 / 100</p>
                            <span class="error-msg cartdropbox4" style="display: none;">*The DeliveryPriority field is
                                required.</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="common-button common-red-button" data-dismiss="modal"
                    onclick="popClose('customModalCenter')">cancel</button>
                <button type="button" class="common-button common-blue-button" data-dismiss="modal"
                    id="update">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- custom Modal center model yes and no  -->
<div class="modal fade" id="customModalCentermy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-headermy">
                <h5 class="modal-titlemy" id="exampleModalLongTitle">
                    <span class="material-symbols-rounded">warning</span>
                    Replace Cart Material
                </h5>
                <button type="button" class="close" data-dismiss="modal" onclick="popClose('customModalCenter')"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-bodymy">
                <p>Your Cart contains materials Do you want to
                    discard the selection and add materials from
                    Central Gen Stor?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button common-red-button" data-dismiss="modal"
                    onclick="popClose('customModalCenter')">No</button>
                <button type="button" class="common-button common-blue-buttonmy">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- custom Modal center model yes and no  -->

<div class="spinnerbody" id="spinnerbody">
    <div class="spinnerchild">
        <div class="spinner-border text-success " role="status">
            <span class="sr-only"></span>
        </div>
        <span>Loading....</span>
    </div>
</div>

<!---------------------------- offcanvas starts hear ---------------------------->

<div class="offcanvas offcanvas-end off-filter-box" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 id="offcanvasRightLabel">Filters</h3>
        <button type="button" id="Closebtn" class="btn-close text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="row">
            <div class="col-12">
                <div class="filter-form">
                    <div class="mb-3">
                        <div class="date-range-container">
                            <div class="dropdown">
                                <!-- <label for="selected-dates">Selected Range:</label> -->
                                <input type="text" class="dropbtn" id="selected-dates" readonly>
                                <div class="dropdown-content">
                                    <span data-range-key="Today" class="active">Today</span>
                                    <span data-range-key="Yesterday">Yesterday</span>
                                    <span data-range-key="Last 7 Days">Last 7 Days</span>
                                    <span data-range-key="Last 30 Days">Last 30 Days</span>
                                    <span data-range-key="This Month">This Month</span>
                                    <span data-range-key="Last Month">Last Month</span>
                                    <span data-range-key="This Year">This Year</span>
                                    <span data-range-key="Last 365 Days">Last 365 Days</span>
                                    <span data-range-key="Last Year">Last Year</span>
                                    <span data-range-key="Custom Range">Custom Range</span>
                                </div>
                            </div>
                        </div>

                        <div id="custom-range-container" style="display: none;">
                            <label for="from-date">From:</label>
                            <input type="date" id="from-date">
                            <label for="to-date">To:</label>
                            <input type="date" id="to-date">
                            <button id="apply-custom-range">Apply1</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="inline field">
                            <label for="locations" class="form-label">Locations</label>
                            <select name="skills" multiple="" id="locations" class="label ui fluid selection dropdown">
                                @* data set from API *@
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="inline field">
                            <label for="istatus" class="form-label">Indent Status</label>
                            <select name="skills" multiple="" id="indent_status"
                                class="label ui fluid selection dropdown">
                                @* data set from API *@
                            </select>
                        </div>
                    </div>
                    <div class="filters-footer d-flex align-items-center">
                        <button type="button" class="btn btn-primary fsubmit text-uppercase fw-bold me-3">Apply</button>
                        <button type="button" class="btn btn-danger fclear text-uppercase fw-bold">Reset</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>

<!---------------------------- offcanvas starts end hear ---------------------------->

<script>
    window.ApiUrl1 = '@Model.ApiUrl1';
    window.ApiUrl2 = '@Model.ApiUrl2';
    window.BaseUrl = '@Model.BaseUrl';
    window.Port1 = '@Model.Port1';
    window.Port2 = '@Model.Port2';
    window.Endpoint1 = '@Model.Endpoint1';
    window.Endpoint2 = '@Model.Endpoint2';
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
@* table script *@
@*
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script> *@

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@* for table *@
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

@* fixedColumns *@
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
@* <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> *@

@*new cdm for filter*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> *@
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
@*new cdm for filter end*@

<!-- Add jQuery Print Plugin -->
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.3.3/jQuery.print.min.js"></script> *@


<script src="~/js/main.js"></script>
<script src="~/js/MyRequests/MyRequests.js"></script>

<script>
    @* $("#service_requests_table").DataTable({
        dom: "Bfrtip",
        buttons: ["print"],
        paging: false,
        info: false,
        }); *@

</script>