<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
<link href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />
<section id="content-wrapper">
    @*<h1>returns page</h1>*@
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>S No</th>
                <th>Name</th>
                <th>Material Name</th>
                <th>plant Id</th>
                <th>indent Id</th>
                <th>quantity</th>
                <th>reason</th>
                <th>price</th>
                <th>Movement</th>
                <th>STO</th>
                <th>Document No</th>
                <th>Document Year</th>
                <th>Status</th>
                <th>Remarks</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</section>

<script>
    window.ApiUrl1 = '@Model.ApiUrl1';
    window.ApiUrl2 = '@Model.ApiUrl2';
    window.BaseUrl = '@Model.BaseUrl';
    window.Port1 = '@Model.Port1';
    window.Port2 = '@Model.Port2';
    window.Endpoint1 = '@Model.Endpoint1';
    window.Endpoint2 = '@Model.Endpoint2';
</script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/returns/returns.js"></script>