<link rel="stylesheet" href="~/css/Servicerequest/Servicerequest.css"/>
<section id="content-wrapper">
            <div class="page-title">
                <h1>Service Request</h1>
            </div>
            <div class="container-fluid">
                <form method="post" name="My_Form" onsubmit="javascript:return checkServicerequst()">
                @* <form method="post" name="My_Form"> *@
                    <div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="PRTypeService" id="error1">PR Type<span>*</span></label>
                                    <input type="text" class="form-control" id="PRTypeService" value="Service" readonly>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="ItemcategoryD-Service" id="error2">Item category<span>*</span></label>
                                    <input type="text" class="form-control" id="ItemcategoryD-Service" value="D-Service" readonly>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="acctAssignment" id="error3">Acct Assignment Cart<span>*</span></label>
                                    <select class="form-control" id="acctAssignment" name="Acct Assignment Cart">
                                        <option value="0">Acct Assignment Cart</option>
                                      <option value="K - cost center (Without WBS)">K - cost center (Without WBS)</option>
                                      <option value="P- project (With WBS)">P- project (With WBS)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="searchPlant" id="error4">Plant <span>*</span></label>
                                    <select class="form-control" id="searchPlant" name="sellist1"> 
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 WBS_Numbershow" >
                                <div class="form-group">
                                    <label for="WBS_Number" id="error16">WBS Number<span>*</span></label>
                                    <select class="form-control" id="WBS_Number" name="sellist1">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="serviceGroup" id="error5">Service Group</label>
                                    <select class="form-control" id="serviceGroup" name="sellist1">

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="serviceNo" id="error6">Service No</label>
                                    <select class="form-control" id="serviceNo" name="sellist1">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="Quantity" id="error7">Quantity<span>*</span></label>
                                    <input type="number" class="form-control" id="Quantity">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="UOM" id="error8">UOM</label>
                                    <select class="form-control" id="UOM" name="sellist1">
                                       
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="GrossPrice" id="error9">Gross Price</label>
                                    <input type="number" class="form-control" id="GrossPrice">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group" id="error10">
                                    <label for="glAccount">G/L Account</label>
                                    <select class="form-control" id="glAccount" name="sellist1">
                                       
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="costCenter" id="error11">Cost Center<span>*</span></label>
                                    <select class="form-control" id="costCenter" name="sellist1">
                                        <option value="0" >Cost Center</option>
                                        <option value="911000">911000</option>
                                        <option value="911001">911001</option>
                                        <option value="911002">911002</option>     
                                                          
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="PurchaseGroup" id="error12">Purchase Group</label>
                                    <select class="form-control" id="PurchaseGroup" name="sellist1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="purchaseOrg" id="error13">Purchase Organization<span>*</span></label>
                                    <input type="text" class="form-control" id="purchaseOrg" value="1000" readonly>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="ShortText" id="error14">Short Text<span>*</span></label>
                                    <textarea class="form-control" rows="1" id="ShortText"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="Reason" id="error15">Reason<span>*</span></label>
                                    <textarea class="form-control" rows="1" id="Reason"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    @* <label class="filelabel">
                                        <span class="material-symbols-rounded">attach_file</span>
                                        <span class="title">Add File</span>
                                        
                                    </label> *@
                                    @* <div id="dropzone" class="dropzone filelabel" for="FileInput">
                                        <span class="material-symbols-rounded" >attach_file</span>
                                        <span class="title" >Add File</span>
                                        <input class="FileUpload1" id="FileInput" name="booking_attachment" type="file" />
                                        <span class="dropzone-text">Drag and drop your images here (max 3)</span>
                                    </div>
                                    <div id="uploadedFiles"></div> *@
                                    <div class="form">
                                        <label class="form__container" id="upload-container">
                                            <span style="
                                                    display: flex;
                                                    width: 200px;
                                                    font-size: 15px;
                                                    align-content: center;
                                                    align-items: center;
                                                    justify-content: center;">drag images (max 3) accept='png,gif,jpeg' Max Size 5 MB
                                            </span>
                                           <input type="file" class="form__file" id="files" name="file" accept=".png, .gif, .jpeg, .pdf" max="5242880" multiple="multiple" />
                                        </label>
                                        <div class="form__files-container" id="files-list-container"></div>
                                        <div class="form__files-preview-container" id="files-preview-container"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vendors-buttons-wrap">
                            <button type="reset" class="common-button common-orange-button">RESET</button>
                            <button type="button" class="common-button common-blue-button" onclick="save()" id="submit-form">SAVE</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

<script>
    window.ApiUrl1 = '@Model.ApiUrl1';
    window.ApiUrl2 = '@Model.ApiUrl2';
    window.BaseUrl = '@Model.BaseUrl';
    window.Port1 = '@Model.Port1';
    window.Port2 = '@Model.Port2';
    window.Endpoint1 = '@Model.Endpoint1';
    window.Endpoint2 = '@Model.Endpoint2';
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/Servicerequest/Servicerequest.js"></script>
